*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-logo: #93bdb2;
  --color-background: #fffded;
  --color-primary: #02594d;
  --color-accent: #ff8674;
  --color-active: #d5d3c1;
}

body {
  background: var(--color-background);
  font-family: "Roboto", sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

img {
  max-width: 100%;
}

header {
  margin: 1rem;
}

.logo {
  color: var(--color-logo);
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-decoration: none;
}

.fa-bars {
  color: var(--color-primary);
  font-size: 1.5rem;
  position: absolute;
  right: 5vw;
  cursor: pointer;
}

.nav-close {
  display: none;
}

nav {
  margin-top: 1rem;
}
nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
}

nav a:hover,
nav a:focus {
  color: var(--color-accent);
}

.active a {
  color: var(--color-active);
}

.tab-home {
  flex: 1;
  background: url("./images/hero.jpg") no-repeat top center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  color: white;
  width: 70%;
  text-align: center;
}

.hero h1 {
  margin-bottom: 1rem;
}

button {
  background: var(--color-primary);
  color: white;
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border: 0;
  box-shadow: 0 0 5px 0px black;
  cursor: pointer;
}

button:hover,
button:focus {
  background: var(--color-accent);
}

@media (min-width: 600px) {
  .nav-close {
    display: block;
  }
  .fa-bars {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
  }

  nav {
    margin: 0 0 0 auto;
  }

  nav ul {
    display: flex;
  }

  nav li + li {
    margin-left: 1rem;
  }
}
